.fetured {
    font-size: 1.6rem;
    flex: 2;
    margin-right: 2rem;
    padding-right: 2rem;
    -webkit-box-shadow: .2rem .4rem 1rem .1rem rgba(0, 0, 0, .47);
    box-shadow: .2rem .4rem 1rem .1rem rgba(201, 201, 201, .47);
    border-radius: 1rem;
    padding: 1rem;

    .iranUnit {
        color: red;
        font-weight: bold;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 1.8rem;
            font-weight: bold;
            color: gray;
        }

        .icon {
            font-size: large;
            color: gray;
            cursor: pointer;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .featuredChart {
            width: 15rem;
            height: 15rem;
        }

        .title {
            font-size: 1.8rem;
            font-weight: 400;
            color: gray;
        }

        .amount {
            color: black;
            font-weight: bold;
        }

        .description {
            border-bottom: .1rem solid rgb(179, 179, 179);
            cursor: pointer;
            color: blue;
        }

        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            .item{
                margin-top: .5rem;
                text-align: center;
                .itemTitle{
                    color: gray;
                    font-size: 1.6rem;
                    font-weight: bold;

                }
                .itemResult{
                    display: flex;
                    flex-direction: row-reverse;
                    &.positive{
                        color: green;
                    }
                    &.negative{
                        color: red;
                    }
                    .icon{
                        font-size: 1.6rem;
                    }
                    .resultAmount{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}